/* File: src/app/footer/footer.component.scss */
.footer-section {
  // border: 1px solid blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: var(--background);
  z-index: 9999;

  .footer-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1em;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    background-color: inherit;
    border-top: 1px solid var(--input-border);

    .contact-title {
      font-weight: bold;
      font-size: 20px;
      margin: 0;
      color: var(--paragraph);
    }

    .contact-item {
      display: flex;
      align-items: center;
      margin: 0 1em;

      mat-icon {
        margin-right: 8px;
        color: var(--paragraph);
      }

      p {
        margin: 0;
        color: var(--paragraph);
      }
    }

    .content-row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
  }

  @media (max-width: 690px) {
    .footer-card {
      justify-content: center;
      height: 80px;

      .contact-item {
        margin: 1em 0;
      }

      .content-row {
        justify-content: center;
      }
    }
  }
}