<!-- File: src/app/courses/courses.component.html -->
<div class="course-external-container">
  <mat-toolbar color="primary">
    <span>Competências</span>
  </mat-toolbar>
  <div class="course-container">
    <h1 class="title">Formação</h1>

    <app-search-bar class="search-bar" (searchTerm)="applySearch($event)"></app-search-bar>

    <div class="course-section">
      <div *ngFor="let course of courses" class="course-card">
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{course.institution}}</mat-card-title>
            <mat-card-subtitle>{{course.course}}</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <p><strong>Período:</strong> {{course.period}}</p>
            <p><strong>Competências:</strong> {{course.skills.join(', ')}}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>