/* File: src/app/project/project.component.scss */

.project {
  // border: 2px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--table-border);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  width: 100%;
  min-width: 250px;
  height: 65vh;


  @media (max-width: 768px) {
    font-size: 0.8rem;
  }

  @media (max-width: 500px) {
    width: auto;
    height: auto;
    margin: 0 5px;
  }
}

.project-image {
  max-width: 480px;
  height: 300px;
  object-fit: contain;
  border: 1px solid var(--nav-list-border);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  border-radius: 5px;

  @media (max-width: 815px) {
    max-width: 90%;
    height: auto;
  }
}

.project-info {
  // border: 1px solid green;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  min-height: 280px;
  height: auto;
  width: 100%;

  h2 {
    font-size: 1.5em;
    font-weight: bold;
    align-self: center;
    color: var(--text-title);
  }

  h3 {
    font-size: 1.2em;
    color: var(--text-title);
  }
}

.project-description {
  min-height: 100px;
  color: var(--text-title);
}

.project-skills {
  margin-top: 20px;
  font-size: 0.9em;
  color: var(--accent);
}

.project-links {
  display: flex;
  justify-content: space-evenly;
  width: 100%;

  a {
    width: 45%;
    text-align: center;
    color: #0066cc;
    text-decoration: none;

    mat-icon {
      vertical-align: middle;
    }
  }
}

.project-links a:hover {
  text-decoration: underline;
}

abbr[title] {
  border-bottom: none !important;
  text-decoration: none;
  cursor: pointer;
}

abbr[title]:hover {
  text-decoration: underline;
}

abbr[title]:hover::after {
  content: attr(title);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  background: var(--nav-list-border);
  color: var(--background);
  font-size: 0.8em;
  padding: 0.5em;
  border-radius: 5px;
  pointer-events: none;
}