/* File: src/app/experiences/experiences.component.scss */
.experience-container {
  // border: 1px solid blue;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 80%;
  margin: auto;
  background-color: #f3f3f3;
  padding: 20px;
  gap: 20px;
  overflow-y: auto; // Adicione a rolagem apenas na direção vertical.
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.search-bar {
  // border: 2px solid yellow;
  width: 30%;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.experience-section {
  // border: 1px solid green;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.experience-card {
  // border: 1px solid red;
  flex-basis: calc(33.33% - 20px);
  /* 33.33% para 3 cards por linha, reduzir o valor para mais cards por linha */
  box-sizing: border-box;
}

@media screen and (max-width: 745px) {
  .search-bar {
    flex-direction: column;
  }

  .experience-card {
    flex-basis: 100%;
    /* cards ocuparão a largura total na tela pequena */
  }
}

// @media screen and (max-width: 745px) {
//   .search-bar {
//     flex-direction: column;

//     // input,
//     // button {
//     //   border: 1px solid red;
//     //   width: 100%;
//     // }
//   }
// }

// .grid-list-container {
//   border: 1px solid blue;
//   height: 100vh;
//   overflow-x: hidden;
//   // overflow: auto;
// }

// .experience-section {
//   border: 1px solid green;
//   // flex-direction: column;
//   // gap: 20px;
//   // overflow-x: hidden;
//   height: 500px; // You can adjust this value as per your requirement
// }

// .experience-card {
//   border: 1px solid red;
//   height: auto;
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
// }

// .mat-card-content {
//   overflow: auto;
// }