/* File: src/app/projects/projects.component.scss */
.projects-container {
  // border: 1px solid blue;
  padding: 2em;
  height: calc(100vh - 64px); // diminuímos a altura em 64px, que é a altura padrão da MatToolbar
  box-sizing: border-box;
}

mat-toolbar {
  display: flex;
  justify-content: center;
}

// .title {
//   font-size: 2em;
//   margin-bottom: 40px;
//   text-align: center; // adicionamos o alinhamento do texto ao centro
// }