/* File: src/app/projects/projects.component.scss */
.projects-container {
  // border: 2px solid red;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  margin-bottom: 60px; // Adicione esta linha para evitar que o rodapé cubra o conteúdo
}

.projects-section {
  // border: 2px solid blue;
  // padding: 0.8em;
  height: 90%;
  box-sizing: border-box;
}

.toolbar-content {
  display: inline-block;
  height: 60px;
  line-height: 60px; // Adicione esta linha para centralizar verticalmente o texto
}

// mat-toolbar {
//   display: flex;
//   justify-content: center;
//   // margin-top: 60px;
// }