/* File: src/app/projects/projects.component.scss */
.projects-container {
  // border: 2px solid red;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.projects-section {
  // border: 2px solid blue;
  padding: 2em;
  height: 100vh;
  box-sizing: border-box;
}

mat-toolbar {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}