/* File: src/app/project-commments/project-comments.component.scss */
.project-comments-section {
  border: 1px solid blue;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}