<!-- File: src/app/carousel/carousel.component.html -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div *ngFor="let project of projects; let i = index" [@slideIn]="currentProjectIndex"
      [class.d-none]="i !== currentProjectIndex">
      <app-project-wrapper [project]="project"></app-project-wrapper> <!-- substituído aqui -->
      <div class="carousel-indicators">
        <button *ngFor="let project of projects; let i = index" (click)="goToSlide(i)"
          [class.active]="i === currentProjectIndex"></button>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" (click)="movePrev()" role="button" data-slide="prev">
    <mat-icon>arrow_back</mat-icon>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" (click)="moveNext()" role="button" data-slide="next">
    <mat-icon>arrow_forward</mat-icon>
    <span class="sr-only">Next</span>
  </a>
</div>