/* File: src/app/app.component.scss */
.mat-toolbar {
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding: 0 !important;
  top: 0;
  background-color: var(--header-background);
  color: var(--header-text);
}

.mat-toolbar.mat-primary {
  background-color: var(--header-background) !important;
}

.left-items,
.right-items {
  display: flex;
  align-items: center;
  height: 100%;
}

/* Espaço adicional entre os botões de trocar tema e logout */
.right-items .theme-icon {
  margin-right: 1rem; // Ajuste este valor conforme necessário
}

/* Estilização dos botões */
.app-button {
  border: none;
  background-color: transparent;
  color: var(--header-text);
  font-size: 1em;
  font-weight: 500;
  height: 100%;
  cursor: pointer;
  transition: color 0.3s ease; // Transição suave na cor

  &:hover {
    color: var(--button-hover);
  }

  &:disabled {
    color: var(--button-disabled-background);
    cursor: not-allowed;
  }
}

/* Tooltip para o ícone de troca de tema */
.right-items .theme-icon[mattooltip] {
  cursor: pointer;
  color: white; // Cor padrão para o ícone de tema
}

body.dark-theme .theme-icon {
  color: var(--header-text); // A cor do ícone de tema escuro (lua) quando o tema escuro está ativo
}

body.light-theme .theme-icon {
  color: var(--header-text); // A cor do ícone de tema claro (sol) quando o tema claro está ativo
}

.app-container {
  padding-bottom: 40px;
  background-color: var(--background);
}

@media (max-width: 600px) {
  .left-items {
    font-size: 0.8em;
  }
}

@media (max-width: 500px) {
  .left-items {
    font-size: 0.7em;
  }
}

@media (max-width: 450px) {
  .left-items {
    font-size: 0.6em;
  }
}