<!-- File: src/app/skills/skills.component.html -->
<div class="skills-container">
  <h1 class="title">Competências</h1>

  <app-search-bar class="search-bar" (searchTerm)="applySearch($event)"></app-search-bar>

  <!-- Linguagens de Programação -->
  <div class="skills-section">
    <div *ngFor="let language of languages" class="language-card">
      <div class="card-wrapper">
        <div class="language-mat-card">
          <div class="language-mat-card-header">
            <h2 class="language-mat-card-title">{{language.language}}</h2>
          </div>

          <div class="language-mat-card-content">
            <p><strong>Período:</strong> {{language.period}}</p>
            <p><strong>Proficiência:</strong></p>
            <mat-progress-bar mode="determinate" [value]="proficiencyLevel(language.level)"></mat-progress-bar>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Frameworks -->
  <div class="skills-section">
    <div *ngFor="let framework of frameworks" class="framework-card">
      <div class="card-wrapper">
        <div class="framework-mat-card">
          <div class="framework-mat-card-header">
            <h2 class="framework-mat-card-title">{{framework.name}}</h2>
          </div>

          <div class="framework-mat-card-content">
            <p><strong>Proficiência:</strong></p>
            <mat-progress-bar mode="determinate" [value]="proficiencyLevel(framework.level)"></mat-progress-bar>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Ferramentas e Tecnologias -->
  <div class="tech-section">
    <div class="tech-card">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Tecnologias, Ferramentas e Metodologias</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <div class="tools-section">
            <mat-list>
              <mat-list-item *ngFor="let tool of tools">
                {{tool}}
              </mat-list-item>
            </mat-list>
          </div>
          <button mat-raised-button color="primary" class="tools-button"
            (click)="toggleTools()">Expandir/Contrair</button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>