/* File: src/app/project/project.component.scss */

.project {
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 1rem;

  // .comment-button {
  //   display: flex; // aplica flexbox
  //   justify-content: center; // centraliza o conteúdo horizontalmente
  //   margin-top: 20px;
  //   width: auto; // certifica-se de que o botão não ocupe a largura total

  //   button {
  //     padding: 10px 20px; // ajusta o preenchimento do botão
  //   }
  // }

  @media (max-width: 768px) {
    font-size: 0.8rem;
  }
}

.project-image {
  max-width: 480px;
  height: 300px;
  object-fit: contain;
  border: 1px solid #ccc;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  border-radius: 5px;

  @media (max-width: 815px) {
    max-width: 90%;
    height: auto;
  }
}

.project-info {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  min-height: 280px;
  height: auto;
  width: 100%; // adiciona largura 100% para que o botão não estenda a largura completa

  h2 {
    font-size: 1.5em;
    align-self: center;
  }

  h3 {
    font-size: 1.2em;
  }
}

.project-description {
  min-height: 100px;
}

.project-skills {
  margin-top: 20px;
  font-size: 0.9em;
}

.project-links {
  display: flex;
  justify-content: space-evenly; // altera para um espaço uniforme entre os links
  margin-top: 20px;
  width: 100%; // assegura que os links preencham a largura total

  a {
    width: 45%; // estabelece a largura dos links
    text-align: center; // centraliza o texto nos links
    color: #0066cc;
    text-decoration: none;

    mat-icon {
      vertical-align: middle; // centraliza o ícone verticalmente
    }
  }
}

.project-links a:hover {
  text-decoration: underline;
}

abbr[title] {
  border-bottom: none !important;
  text-decoration: none;
  cursor: pointer;
}

abbr[title]:hover {
  text-decoration: underline;
}

abbr[title]:hover::after {
  content: attr(title);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  background: #333;
  color: #fff;
  font-size: 0.8em;
  padding: 0.5em;
  border-radius: 5px;
  pointer-events: none;
}