/* File: src/app/contact-page/contact-page.component.scss */
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--background);
  height: 100vh; // faça o container ocupar a tela inteira
  overflow-y: auto; // permita rolagem vertical se o conteúdo for muito alto

  .contact-form {
    border: 1px solid var(--input-border);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 600px;
    height: auto;
    overflow: auto;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--input-background);

    h3 {
      color: var(--text-title);
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      text-align: center;
      word-wrap: break-word;

      @media (max-width: 500px) {
        font-size: 1.4em;
      }
    }

    button {
      margin-top: 0.1em;
    }

    @media (max-width: 500px) {
      max-height: 60vh; // altere o valor conforme a necessidade
    }
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;

    h2 {
      color: var(--extra);
      font-weight: 500;
    }

    div {
      display: flex;
      justify-content: space-around;
      width: 100%;
      max-width: 300px;

      a {
        color: var(--button-border);
        text-decoration: none;
        font-size: 1.5em;
      }

      .icon {
        color: var(--tertiary);
      }
    }
  }
}

mat-toolbar {
  // margin-top: 20px;
  height: 60px;
  width: 100vw;
  justify-content: center;
  font-size: 1.8em;
}

mat-form-field {
  width: 100%;
  margin-bottom: 0.2em;
}

button {
  margin-top: 1em;
  color: var(--button-text);
  background-color: var(--button-background);

  &:hover {
    background-color: var(--button-hover);
  }

  &:active {
    background-color: var(--button-active);
  }

  &:disabled {
    background-color: var(--button-disabled-background);
  }
}