<!-- File: src/app/contact-page/contact-page.component.html -->
<div class="contact-container">
  <mat-toolbar color="primary">
    <span>Contact Me</span>
  </mat-toolbar>

  <form [formGroup]="contactForm" (ngSubmit)="submitForm()" class="contact-form">
    <h3>Me envie uma mensagem:</h3>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" required>
      <mat-error *ngIf="contactForm.controls['name'].invalid && contactForm.controls['name'].touched">
        Please provide your name.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" required>
      <mat-error *ngIf="contactForm.controls['email'].invalid && contactForm.controls['email'].touched">
        Please provide a valid email.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Subject</mat-label>
      <input matInput formControlName="subject" autocomplete="one-time-code" required>
      <mat-error *ngIf="contactForm.controls['subject'].invalid && contactForm.controls['subject'].touched">
        Please provide a subject.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Message</mat-label>
      <textarea matInput formControlName="message" rows="6" required></textarea>
      <mat-error *ngIf="contactForm.controls['message'].invalid && contactForm.controls['message'].touched">
        Please provide a message.
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="!contactForm.valid">Submit</button>
  </form>

  <div class="contact-info">
    <h2>Conecte-se Comigo!</h2>
    <div>
      <a href="https://www.linkedin.com/in/samuelcovalero/" target="_blank" aria-label="LinkedIn">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/imsamuelcovalero" target="_blank" aria-label="GitHub">
        <i class="fab fa-github"></i>
      </a>
      <a href="mailto: reis_samuel@hotmail.com" (click)="copyEmail()" aria-label="Email">
        <i class="fas fa-envelope"></i>
      </a>
      <a href="https://www.instagram.com/imsamuelcovalero/" target="_blank" aria-label="Instagram">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://api.whatsapp.com/send?phone=5511984478895" target="_blank" (click)="copyWhatsApp()"
        aria-label="WhatsApp">
        <i class="fab fa-whatsapp"></i>
      </a>
    </div>
  </div>
</div>